<!-- 
  <form class="form">
 <input matInput  #newQuestion type="text" placeholder="Ваш вопрос" (keyup.enter)="addQuestion(newQuestion.value)">
 <button (click)="addQuestion(newQuestion.value); newQuestion.value = ''">Отправить</button>
</form> -->
 <!-- <form class="form"> -->
   <div class="input-container">
    <mat-form-field class="inp" appearance="fill">
    
      <input  #newQuestion type="text" placeholder="Ваш вопрос" (keyup.enter)="addQuestion(newQuestion.value)" matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addQuestion(newQuestion.value); newQuestion.value = ''">Отправить</button>
   </div>

 
<!-- </form> -->

