.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  flex-shrink: 1;
  margin-bottom: 20px;
  gap: 20px;
}

@media (max-width: 460px) {
  .question-item {
    flex-direction: column;
    gap: 0;
  }

  h2 {
    width: 100%;
  }
}